#main-bottom {
	@include animation-duration(.5s);
	@include animation-delay(1s);
	background: #9a9a9a; /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzlhOWE5YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #9a9a9a 0%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9a9a9a), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9a9a9a 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9a9a9a 0%,#f6f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9a9a9a 0%,#f6f6f6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #9a9a9a 0%,#f6f6f6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a9a9a', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-8 */
	border-top: solid 5px #808080;
	padding: 25px 0;
}

.infoBox {
	border-top: solid 6px #e0495e;
	background: #fff;
	margin-bottom: 30px;
	padding: 15px 20px;
	clear: both;
	display: table;
	h4 {
		font-size: 24px;
		color: #4a4949;
		margin-bottom: 16px;
	}
	p {
		line-height: 1.5em;
		margin-bottom: 8px;
	}
	.btn {
		float: right;
		margin-top: 10px;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		line-height: 1.5em;
		margin-bottom: 8px;
	}
}
.newsletter {
	background: #f9f9f9; /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWUxZTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #e1e1e1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e1e1e1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#e1e1e1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9f9f9 0%,#e1e1e1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#e1e1e1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9f9f9 0%,#e1e1e1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-8 */
	border: solid 1px #868686;
	margin-bottom: 30px;
	padding: 18px 15px;
	.btn-default {
		background: #ababab;
		color: #fff;
		border-color: #9d9d9d;
		-webkit-box-shadow: inset 0 0 3px #9d9d9d;
		-moz-box-shadow: inset 0 0 3px #9d9d9d;
		//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: inset 0 0 3px #9d9d9d;
		&:hover {background: #787878;}
	}
	h4 {
		background: url(../images/dash@2x.png) repeat-x center bottom;
		background-size: 6px 1px;
		font-size: 24px;
		font-family: Open Sans Condensed, sans-serif;
		color: #c61b34;
		padding-bottom: 10px;
		margin-bottom: 10px;
		position: relative;
		&:after {
			background: url(../images/ico-envelope@2x.png) no-repeat;
			background-size: 24px 16px;
			content: '';
			width: 24px;
			height: 16px;
			position: absolute;
			top: 6px;
			margin-left: 10px;
		}
	}
	h5 {
		color: #000;
		font-size: 22px;
		font-weight: 600;
		line-height: 1.4em;
		margin-bottom: 0px;
	}
	p {
		display: block;
		font-size: 15px;
		font-weight: 300;
		color: #000;
	}
	.btn {
		float: right;
	}
}
.twitter {
	border: solid 1px #a3a3a3;
	background: #fff;
	padding: 2px 4px;
	h4 {
		font-size: 24px;
		font-family: Open Sans Condensed, sans-serif;
		color: #c61b34;
		padding-left: 11px;
		padding-top: 14px;
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid #ededed;
	}
	iframe {
		border-top: 1px solid #CCC;
		margin: 0;
		border: 0;
		margin-bottom: -5px;
		height: 359px;
	}
	.customisable-highlight {
		color: red;
	}
}
.club ul {
	line-height: 2em;
	li a {
		font-weight: bold;
		text-decoration: none;
		color: #000;
		&:hover {
			color: #c61b34;
		}
	}
}
