/*! 
 * Kalatheme (http://drupal.org/project/kalatheme) 
 */
/* theme */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Open+Sans+Condensed:700);
/* line 4, ../sass/components/_theme.scss */
#secondary-menu-links, .language-switcher-locale-url {
  float: right;
  margin-bottom: 0;
  padding-left: 0; }

/* line 12, ../sass/components/_theme.scss */
.form-item-custom-search-blocks-form-1, #edit-actions {
  float: left;
  margin-top: 0;
  margin-bottom: 0; }

/* line 18, ../sass/components/_theme.scss */
#site-name-slogan {
  padding-left: 0;
  padding-top: 25px; }

/* line 20, ../sass/components/_theme.scss */
.logo-header {
  height: 112px; }
  /* line 22, ../sass/components/_theme.scss */
  .logo-header .container {
    background: url(../images/bg-header.jpg) no-repeat 0px -23px #141414;
    height: 112px; }

/* line 25, ../sass/components/_theme.scss */
.navbar {
  margin-bottom: 0px; }

/* line 29, ../sass/components/_theme.scss */
.menu-511 {
  font-family: FontAwesome;
  font-size: 24px;
  color: #cfcfcf; }
  /* line 33, ../sass/components/_theme.scss */
  .menu-511 a {
    color: #cfcfcf !important; }
  /* line 35, ../sass/components/_theme.scss */
  .menu-511 a.active {
    color: #cfcfcf !important;
    background-color: transparent !important; }

/* line 42, ../sass/components/_theme.scss */
.language-switcher-locale-url {
  list-style: none; }
  /* line 45, ../sass/components/_theme.scss */
  .language-switcher-locale-url li.active {
    display: none; }

/* line 49, ../sass/components/_theme.scss */
.language-link {
  padding: 15px;
  display: block;
  line-height: 20px;
  font-size: 15px;
  color: #9f9f9f;
  font-size: 12px;
  font-family: Open Sans Condensed, sans-serif;
  text-decoration: none; }
  /* line 58, ../sass/components/_theme.scss */
  .language-link:hover {
    color: #fff; }

/* line 62, ../sass/components/_theme.scss */
#custom-search-blocks-form-1 {
  float: right;
  margin-bottom: 0;
  margin-top: 0px; }

/* line 73, ../sass/components/_theme.scss */
#edit-submit {
  font-family: 'FontAwesome' !important;
  color: white; }

/* line 77, ../sass/components/_theme.scss */
.navbar-default nav {
  width: 100%; }

/* line 81, ../sass/components/_theme.scss */
.not-front #top-content {
  background: #fff;
  min-height: 1px; }

/* line 86, ../sass/components/_theme.scss */
#main-wrapper {
  margin-top: 0px; }

/* line 89, ../sass/components/_theme.scss */
.bean-beanslide ul li img {
  max-width: 100%;
  height: auto; }

/* line 95, ../sass/components/_theme.scss */
.burr-flipped-sidebar-content .panel-pane, .brenham-flipped-main-side .panel-pane {
  margin-bottom: 10px; }

/* line 98, ../sass/components/_theme.scss */
.extension {
  text-transform: uppercase; }

/* XHTML MASTER CSS */
/* line 3, ../sass/components/_xhtmlmaster.scss */
body {
  background: #565656;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #000; }

/* line 10, ../sass/components/_xhtmlmaster.scss */
h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

/* line 14, ../sass/components/_xhtmlmaster.scss */
a {
  color: #c61b34;
  text-decoration: underline; }

/* line 18, ../sass/components/_xhtmlmaster.scss */
a:hover {
  text-decoration: none;
  color: #c61b34; }

/* line 23, ../sass/components/_xhtmlmaster.scss */
.btn {
  text-decoration: none; }

/* line 26, ../sass/components/_xhtmlmaster.scss */
.btn-primary {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  padding: 6px 18px;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  border-radius: 42px;
  background: #ea2851;
  /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhMjg1MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYzBjMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ea2851 0%, #bc0c19 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ea2851), color-stop(100%, #bc0c19));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ea2851 0%, #bc0c19 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ea2851 0%, #bc0c19 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ea2851 0%, #bc0c19 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ea2851 0%, #bc0c19 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea2851', endColorstr='#bc0c19',GradientType=0 );
  /* IE6-8 */
  border: 0; }

/* line 47, ../sass/components/_xhtmlmaster.scss */
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  background: #bc0c19; }

/* line 55, ../sass/components/_xhtmlmaster.scss */
.btn-default {
  background: #f4f4f4;
  border-color: #e5e5e5;
  -webkit-box-shadow: inset 0 0 3px #e5e5e5;
  -moz-box-shadow: inset 0 0 3px #e5e5e5;
  box-shadow: inset 0 0 3px #e5e5e5;
  padding: 4px 15px;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  border-radius: 42px;
  font-weight: 600;
  color: #6c6c6c; }

/* line 69, ../sass/components/_xhtmlmaster.scss */
#main-top .promo img,
#slider img {
  width: 100%;
  height: auto;
  display: block; }

/* line 76, ../sass/components/_xhtmlmaster.scss */
header.navbar {
  background-color: #141414;
  height: 114px; }

/* line 80, ../sass/components/_xhtmlmaster.scss */
header.navbar .col-md-12 {
  position: relative; }

/* line 83, ../sass/components/_xhtmlmaster.scss */
header.navbar .logo-header #site-name-slogan a {
  background: url(../images/logo.png) no-repeat;
  width: 126px;
  height: 65px;
  display: block;
  margin: 0px auto 0 auto;
  font-size: 0em;
  text-indent: -9999999px; }

/* line 93, ../sass/components/_xhtmlmaster.scss */
h1#site-name {
  margin-top: 0 !important; }

/* line 96, ../sass/components/_xhtmlmaster.scss */
#mobile-nav-opener {
  background: url(../images/mobile-menu.png) no-repeat;
  background-size: 25px 20px;
  width: 25px;
  height: 20px;
  display: block;
  position: absolute;
  top: 25px;
  right: 15px;
  cursor: pointer; }

/* line 108, ../sass/components/_xhtmlmaster.scss */
header.navbar aside {
  display: none; }

/* line 112, ../sass/components/_xhtmlmaster.scss */
#mobile-nav {
  background: #616161;
  border-bottom: solid 5px #bdbdbd; }

/* line 116, ../sass/components/_xhtmlmaster.scss */
#mobile-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: none; }

/* line 123, ../sass/components/_xhtmlmaster.scss */
#mobile-nav ul li {
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #e8e8e8;
  border-top: solid 1px #e8e8e8; }

/* line 129, ../sass/components/_xhtmlmaster.scss */
#mobile-nav ul li:first-child {
  border: 0; }

/* line 132, ../sass/components/_xhtmlmaster.scss */
#mobile-nav ul li a {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px 0;
  line-height: 1em;
  display: block;
  outline: 0 none;
  text-transform: uppercase; }

/* line 141, ../sass/components/_xhtmlmaster.scss */
#mobile-nav ul ul {
  padding: 5px 0;
  border-top: solid 1px #e8e8e8;
  display: none; }

/* line 146, ../sass/components/_xhtmlmaster.scss */
#mobile-nav ul ul li {
  border: 0; }

/* line 149, ../sass/components/_xhtmlmaster.scss */
#mobile-nav ul ul li a {
  font-size: 14px;
  padding: 5px 0; }

/* line 153, ../sass/components/_xhtmlmaster.scss */
#mobile-nav ul ul ul {
  border-bottom: solid 1px #e8e8e8; }

/* line 157, ../sass/components/_xhtmlmaster.scss */
#main-top {
  background: #e5e5e5;
  /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYmViZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #e5e5e5 0%, #ebebea 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(100%, #ebebea));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e5e5e5 0%, #ebebea 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e5e5e5 0%, #ebebea 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e5e5e5 0%, #ebebea 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e5e5e5 0%, #ebebea 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#ebebea',GradientType=0 );
  /* IE6-8 */
  padding: 25px 0 0 0; }

/* line 171, ../sass/components/_xhtmlmaster.scss */
#slider {
  margin-bottom: 30px;
  position: relative; }

/* line 175, ../sass/components/_xhtmlmaster.scss */
#slider .slide {
  position: relative; }

/* line 178, ../sass/components/_xhtmlmaster.scss */
#slider .slide .text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  background: #d81b36;
  background: rgba(216, 27, 54, 0.7); }

/* line 187, ../sass/components/_xhtmlmaster.scss */
#slider .slide .text aside {
  padding: 15px; }

/* line 190, ../sass/components/_xhtmlmaster.scss */
#slider .slide .text h1 {
  font-size: 12px;
  line-height: 1em;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-bottom: 0.5em; }

/* line 196, ../sass/components/_xhtmlmaster.scss */
#slider .slide .text p {
  font-size: 9px;
  margin-bottom: 1em; }

/* line 200, ../sass/components/_xhtmlmaster.scss */
#slider .slide .text .more {
  float: right;
  background: #ad162b;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  height: 24px;
  line-height: 24px;
  padding: 0 18px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px; }

/* line 214, ../sass/components/_xhtmlmaster.scss */
#slider nav {
  font-size: 0em;
  position: absolute;
  left: 15px;
  bottom: 15px;
  z-index: 200; }

/* line 221, ../sass/components/_xhtmlmaster.scss */
#slider nav a {
  width: 6px;
  height: 6px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-indent: -999999px;
  background: #ec8d9b;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin-right: 4px;
  cursor: pointer; }

/* line 235, ../sass/components/_xhtmlmaster.scss */
#slider nav a:hover, #slider nav a.active {
  background: #f7d1d7; }

/* line 239, ../sass/components/_xhtmlmaster.scss */
#main-top .promo {
  padding-bottom: 30px;
  display: block; }

/* line 244, ../sass/components/_xhtmlmaster.scss */
#main {
  background: #9a9a9a;
  /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzlhOWE5YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #9a9a9a 0%, #f6f6f6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9a9a9a), color-stop(100%, #f6f6f6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #9a9a9a 0%, #f6f6f6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #9a9a9a 0%, #f6f6f6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #9a9a9a 0%, #f6f6f6 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #9a9a9a 0%, #f6f6f6 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9a9a9a', endColorstr='#f6f6f6',GradientType=0 );
  /* IE6-8 */
  border-top: solid 5px #808080;
  padding: 25px 0; }

/* line 259, ../sass/components/_xhtmlmaster.scss */
#main .box {
  border-top: solid 6px #e0495e;
  background: #fff;
  margin-bottom: 30px;
  padding: 15px 20px; }

/* line 265, ../sass/components/_xhtmlmaster.scss */
#main .box h2 {
  font-size: 24px;
  color: #4a4949;
  margin-bottom: 16px; }

/* line 270, ../sass/components/_xhtmlmaster.scss */
#main .box p {
  line-height: 1.5em;
  margin-bottom: 8px; }

/* line 274, ../sass/components/_xhtmlmaster.scss */
#main .box .btn {
  float: right;
  margin-top: 10px; }

/* line 278, ../sass/components/_xhtmlmaster.scss */
#main .box ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  margin-bottom: 8px; }

/* line 285, ../sass/components/_xhtmlmaster.scss */
#main .club ul {
  line-height: 2em; }

/* line 288, ../sass/components/_xhtmlmaster.scss */
#main .club ul li a {
  font-weight: bold;
  text-decoration: none;
  color: #000; }

/* line 293, ../sass/components/_xhtmlmaster.scss */
#main .club ul li a:hover {
  color: #c61b34; }

/* line 297, ../sass/components/_xhtmlmaster.scss */
#main .newsletter {
  background: #f9f9f9;
  /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWUxZTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e1e1e1 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #e1e1e1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #e1e1e1 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f9f9 0%, #e1e1e1 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9f9f9 0%, #e1e1e1 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f9f9f9 0%, #e1e1e1 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e1e1e1',GradientType=0 );
  /* IE6-8 */
  border: solid 1px #868686;
  margin-bottom: 30px;
  padding: 18px 15px; }

/* line 312, ../sass/components/_xhtmlmaster.scss */
#main .newsletter .btn-default {
  background: #ababab;
  color: #fff;
  border-color: #9d9d9d;
  -webkit-box-shadow: inset 0 0 3px #9d9d9d;
  -moz-box-shadow: inset 0 0 3px #9d9d9d;
  box-shadow: inset 0 0 3px #9d9d9d; }

/* line 320, ../sass/components/_xhtmlmaster.scss */
#main .newsletter h3 {
  background: url(../images/dash@2x.png) repeat-x center bottom;
  background-size: 6px 1px;
  font-size: 24px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #c61b34;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative; }

/* line 330, ../sass/components/_xhtmlmaster.scss */
#main .newsletter h3:after {
  background: url(../images/ico-envelope@2x.png) no-repeat;
  background-size: 24px 16px;
  content: '';
  width: 24px;
  height: 16px;
  position: absolute;
  top: 6px;
  margin-left: 10px; }

/* line 340, ../sass/components/_xhtmlmaster.scss */
#main .newsletter h4 {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.4em;
  margin-bottom: 14px; }

/* line 347, ../sass/components/_xhtmlmaster.scss */
#main .newsletter h4 small {
  display: block;
  font-size: 15px;
  font-weight: 300;
  color: #000; }

/* line 353, ../sass/components/_xhtmlmaster.scss */
#main .newsletter .btn {
  float: right; }

/* line 357, ../sass/components/_xhtmlmaster.scss */
#main .twitter {
  border: solid 1px #a3a3a3;
  background: #fff; }

/* line 361, ../sass/components/_xhtmlmaster.scss */
#main .twitter iframe {
  margin: 0;
  border: 0;
  margin-bottom: -5px;
  height: 428px; }

/* line 367, ../sass/components/_xhtmlmaster.scss */
#main .twitter .customisable-highlight {
  color: red; }

/* line 371, ../sass/components/_xhtmlmaster.scss */
#content {
  background: #e5e5e5;
  /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #e5e5e5 0%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e5e5e5 0%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e5e5e5 0%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e5e5e5 0%, white 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e5e5e5 0%, white 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 );
  /* IE6-8 */
  padding: 24px 0 0 0; }

/* line 385, ../sass/components/_xhtmlmaster.scss */
.page-content {
  background: #fff;
  padding: 20px 20px;
  border-top: solid 5px #e0495e; }

/* line 390, ../sass/components/_xhtmlmaster.scss */
.page-content .img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px; }

/* line 396, ../sass/components/_xhtmlmaster.scss */
.page-content h2 {
  font-size: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #363636;
  margin-bottom: 20px; }

/* line 402, ../sass/components/_xhtmlmaster.scss */
.page-content h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0.3em;
  padding-top: 0.5em; }

/* line 408, ../sass/components/_xhtmlmaster.scss */
.page-content h6 {
  font-size: 15px;
  line-height: 1.4em;
  margin-bottom: 1em; }

/* line 413, ../sass/components/_xhtmlmaster.scss */
.page-content p {
  line-height: 1.5em;
  font-size: 13px;
  margin-bottom: 1em; }

/* line 418, ../sass/components/_xhtmlmaster.scss */
.page-content ul {
  padding-left: 20px;
  line-height: 1.5em;
  font-size: 13px;
  margin-bottom: 0; }

/* line 424, ../sass/components/_xhtmlmaster.scss */
.page-content ul li {
  margin-bottom: 1em; }

/* line 427, ../sass/components/_xhtmlmaster.scss */
.page-content .big {
  font-size: 15px;
  font-weight: bold; }

/* line 432, ../sass/components/_xhtmlmaster.scss */
#sidebar .share {
  margin-bottom: 30px;
  border: solid 1px #e0495e;
  height: 38px;
  background: #b8b8b8;
  overflow: hidden; }

/* line 440, ../sass/components/_xhtmlmaster.scss */
#sidebar .share .fb-like {
  float: left;
  margin-top: 6px;
  margin-left: 12px; }

/* line 445, ../sass/components/_xhtmlmaster.scss */
#sidebar .share .twitter-share-button {
  float: left;
  margin-top: 7px;
  margin-left: 12px; }

/* line 450, ../sass/components/_xhtmlmaster.scss */
#sidebar .share .mail {
  float: left;
  margin-left: 12px;
  background: url(../images/ico-email@2x.png) no-repeat;
  width: 57px;
  height: 20px;
  background-size: 57px 20px;
  margin-top: 7px; }

/* line 459, ../sass/components/_xhtmlmaster.scss */
#sidebar .share .label {
  float: left;
  display: none;
  padding: 0 16px;
  color: #fff;
  line-height: 38px;
  background: #e0495e;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

/* line 475, ../sass/components/_xhtmlmaster.scss */
#sidebar .widget {
  margin-bottom: 30px; }

/* line 478, ../sass/components/_xhtmlmaster.scss */
#sidebar .widget {
  background: #f9f9f9;
  /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWUxZTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e1e1e1 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #e1e1e1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #e1e1e1 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f9f9 0%, #e1e1e1 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9f9f9 0%, #e1e1e1 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f9f9f9 0%, #e1e1e1 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e1e1e1',GradientType=0 );
  /* IE6-8 */
  border: solid 1px #868686;
  margin-bottom: 30px;
  padding: 18px 15px; }

/* line 493, ../sass/components/_xhtmlmaster.scss */
#sidebar .widget .btn-default {
  background: #ababab;
  color: #fff;
  border-color: #9d9d9d;
  -webkit-box-shadow: inset 0 0 3px #9d9d9d;
  -moz-box-shadow: inset 0 0 3px #9d9d9d;
  box-shadow: inset 0 0 3px #9d9d9d;
  float: right; }

/* line 502, ../sass/components/_xhtmlmaster.scss */
#sidebar .widget h3 {
  background: url(../images/dash@2x.png) repeat-x center bottom;
  background-size: 6px 1px;
  font-size: 24px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #c61b34;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative; }

/* line 512, ../sass/components/_xhtmlmaster.scss */
#sidebar .widget h4 {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2em;
  margin-bottom: 8px; }

/* line 519, ../sass/components/_xhtmlmaster.scss */
#sidebar .widget h4 small {
  font-size: 15px;
  color: #9e9e9e;
  padding-left: 30px; }

/* line 524, ../sass/components/_xhtmlmaster.scss */
#sidebar .widget p {
  line-height: 1.4em;
  margin-bottom: 8px;
  font-size: 15px; }

/* line 530, ../sass/components/_xhtmlmaster.scss */
#footer {
  background: #616161;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYxNjE2MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1NjU2NTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #616161 0%, #565656 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #616161), color-stop(100%, #565656));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #616161 0%, #565656 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #616161 0%, #565656 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #616161 0%, #565656 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #616161 0%, #565656 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#616161', endColorstr='#565656',GradientType=0 );
  /* IE6-8 */
  padding: 35px 0; }

/* line 544, ../sass/components/_xhtmlmaster.scss */
#footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 2em;
  font-size: 15px; }

/* line 551, ../sass/components/_xhtmlmaster.scss */
#footer ul li a {
  font-size: 15px;
  color: #e8e8e8;
  text-decoration: none; }

/* line 556, ../sass/components/_xhtmlmaster.scss */
#footer ul li a:hover {
  color: #fff; }

/* line 563, ../sass/components/_xhtmlmaster.scss */
img.alignleft {
  display: inline;
  float: left;
  margin-right: 16px; }

/* line 564, ../sass/components/_xhtmlmaster.scss */
img.alignright {
  display: inline;
  float: right;
  margin-left: 16px; }

/* line 565, ../sass/components/_xhtmlmaster.scss */
img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* line 566, ../sass/components/_xhtmlmaster.scss */
img.alignleft, img.alignright, img.aligncenter {
  margin-bottom: 16px; }

/* NAV */
/* line 1, ../sass/components/_navigation.scss */
nav.navbar-collapse {
  display: none;
  background: #616161;
  /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYxNjE2MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1NjU2NTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #616161 0%, #565656 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #616161), color-stop(100%, #565656));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #616161 0%, #565656 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #616161 0%, #565656 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #616161 0%, #565656 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #616161 0%, #565656 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#616161', endColorstr='#565656',GradientType=0 );
  /* IE6-8 */
  border-bottom: solid 5px #bdbdbd !important;
  position: relative;
  z-index: 999; }
  /* line 15, ../sass/components/_navigation.scss */
  nav.navbar-collapse #custom-search-blocks-form-1 {
    border-left: solid 1px #414141;
    margin-left: 15px;
    padding-left: 15px;
    height: 42px;
    position: relative;
    float: right;
    padding-top: 10px; }
    /* line 23, ../sass/components/_navigation.scss */
    nav.navbar-collapse #custom-search-blocks-form-1:before {
      border-left: solid 1px #757575;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 1px;
      height: 100%; }
    /* line 32, ../sass/components/_navigation.scss */
    nav.navbar-collapse #custom-search-blocks-form-1 input {
      background: none;
      margin: 0;
      padding: 3px 0;
      border: 0;
      outline: 0 none;
      width: 60px;
      color: #9f9f9f;
      font-size: 12px;
      font-family: Open Sans Condensed, sans-serif;
      float: left; }
    /* line 44, ../sass/components/_navigation.scss */
    nav.navbar-collapse #custom-search-blocks-form-1 #edit-submit {
      width: 21px;
      height: 21px;
      border: 0;
      outline: 0 none;
      float: right;
      border: none !important;
      border-radius: 0 !important;
      box-shadow: none; }
  /* line 55, ../sass/components/_navigation.scss */
  nav.navbar-collapse ul#superfish-1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    height: 52px;
    line-height: 52px;
    border: none !important; }
    /* line 64, ../sass/components/_navigation.scss */
    nav.navbar-collapse ul#superfish-1 li.sfHover a {
      background: #f3f3f3;
      color: #3e3e3e; }
    /* line 70, ../sass/components/_navigation.scss */
    nav.navbar-collapse ul#superfish-1 li.sfHover ul li.sfHover a {
      background: #e8e8e8 !important;
      color: #c61b34 !important;
      position: relative;
      z-index: 1000; }
    /* line 79, ../sass/components/_navigation.scss */
    nav.navbar-collapse ul#superfish-1 li {
      background: url(../images/nav-s.png) no-repeat left 21px;
      display: block;
      float: left;
      background-size: 2px 11px;
      border: none !important; }
      /* line 85, ../sass/components/_navigation.scss */
      nav.navbar-collapse ul#superfish-1 li.active-trail {
        background: none; }
        /* line 85, ../sass/components/_navigation.scss */
        nav.navbar-collapse ul#superfish-1 li.active-trail + li {
          background: none; }
      /* line 86, ../sass/components/_navigation.scss */
      nav.navbar-collapse ul#superfish-1 li a {
        display: block;
        float: left;
        color: #e8e8e8;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        font-family: Open Sans Condensed, sans-serif;
        height: 56px;
        padding: 0 16px;
        border: none !important; }
        /* line 97, ../sass/components/_navigation.scss */
        nav.navbar-collapse ul#superfish-1 li a:hover {
          background: #f3f3f3;
          color: #3e3e3e; }
        /* line 101, ../sass/components/_navigation.scss */
        nav.navbar-collapse ul#superfish-1 li a.active {
          background: #e5e5e5;
          color: #666; }
    /* line 107, ../sass/components/_navigation.scss */
    nav.navbar-collapse ul#superfish-1 ul {
      width: 230px;
      background: #f3f3f3;
      height: auto;
      top: 52px;
      line-height: normal;
      -webkit-box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.27);
      -moz-box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.27);
      box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.27);
      padding: 10px 0;
      border: none !important; }
      /* line 118, ../sass/components/_navigation.scss */
      nav.navbar-collapse ul#superfish-1 ul li {
        background: none;
        border: none !important;
        position: static; }
        /* line 122, ../sass/components/_navigation.scss */
        nav.navbar-collapse ul#superfish-1 ul li a {
          float: none;
          border: none !important;
          display: block;
          line-height: normal;
          height: auto;
          font-size: 15px;
          font-weight: 600;
          font-family: Open Sans, sans-serif;
          color: #2a2a2a !important;
          background: none !important;
          text-transform: none;
          -webkit-box-shadow: 0 0 0 !important;
          -moz-box-shadow: 0 0 0 !important;
          box-shadow: 0 0 0 !important;
          padding: 10px 15px; }
          /* line 139, ../sass/components/_navigation.scss */
          nav.navbar-collapse ul#superfish-1 ul li a:hover {
            background: #e8e8e8 !important;
            color: #c61b34 !important;
            position: relative;
            z-index: 1000; }
          /* line 145, ../sass/components/_navigation.scss */
          nav.navbar-collapse ul#superfish-1 ul li a.hover {
            background: #e8e8e8 !important;
            color: #c61b34 !important;
            position: relative;
            z-index: 1000; }
      /* line 153, ../sass/components/_navigation.scss */
      nav.navbar-collapse ul#superfish-1 ul ul {
        background: #e8e8e8;
        position: absolute;
        top: 0;
        left: 230px;
        height: 100%;
        width: 200px; }

/* HERO */
/* PAGE CSS */
/* RESPONSIVE CSS */
@media (min-width: 468px) {
  /* line 2, ../sass/components/_responsive.scss */
  #sidebar .share .label {
    display: block; } }
@media (min-width: 768px) {
  /* line 7, ../sass/components/_responsive.scss */
  header.navbar .logo-header #site-name-slogan a {
    float: left; }

  /* line 11, ../sass/components/_responsive.scss */
  #slider .slide .text aside {
    padding: 20px 25px 25px 25px; }

  /* line 14, ../sass/components/_responsive.scss */
  #slider .slide .text h1 {
    font-size: 24px;
    margin-bottom: 2px; }

  /* line 18, ../sass/components/_responsive.scss */
  #slider .slide .text p {
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 0; }

  /* line 23, ../sass/components/_responsive.scss */
  #slider .slide .text .more {
    margin-top: -20px;
    height: 30px;
    line-height: 30px;
    padding: 0 27px;
    font-size: 14px; }

  /* line 30, ../sass/components/_responsive.scss */
  #slider nav {
    text-align: center;
    width: 100%;
    left: 0; }

  /* line 35, ../sass/components/_responsive.scss */
  #slider nav a {
    margin: 0 5px; }

  /* line 39, ../sass/components/_responsive.scss */
  .page-content {
    padding: 25px 40px 120px 40px; }

  /* line 42, ../sass/components/_responsive.scss */
  .page-content h2 {
    font-size: 34px;
    margin-bottom: 25px; }

  /* line 46, ../sass/components/_responsive.scss */
  .page-content h6 {
    font-size: 20px; }

  /* line 49, ../sass/components/_responsive.scss */
  .page-content p, .page-content ul#superfish-1 {
    font-size: 15px; }

  /* line 52, ../sass/components/_responsive.scss */
  .page-content .img {
    margin-bottom: 30px; }

  /* line 57, ../sass/components/_responsive.scss */
  #footer ul#superfish-1 li {
    display: inline-block;
    *display: inline;
    zoom: 1; }

  /* line 62, ../sass/components/_responsive.scss */
  #footer ul#superfish-1 li:before {
    content: ' | ';
    font-size: 11px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #e8e8e8;
    position: relative;
    top: -2px;
    padding: 0 5px; }

  /* line 71, ../sass/components/_responsive.scss */
  #footer ul#superfish-1 li:first-child:before {
    display: none; } }
@media (min-width: 992px) {
  /* line 77, ../sass/components/_responsive.scss */
  #mobile-nav-opener, #mobile-nav {
    display: none; }

  /* line 80, ../sass/components/_responsive.scss */
  nav.navbar-collapse {
    display: block; }

  /* line 83, ../sass/components/_responsive.scss */
  header.navbar aside {
    float: right;
    display: block;
    padding-top: 45px; }

  /* line 88, ../sass/components/_responsive.scss */
  header.navbar .slogan {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #cfcfcf;
    line-height: 1em;
    float: left;
    text-align: right; }

  /* line 97, ../sass/components/_responsive.scss */
  header.navbar .slogan small {
    font-size: 14px; }

  /* line 100, ../sass/components/_responsive.scss */
  header.navbar .slogan strong {
    font-size: 33px;
    color: #fff; }

  /* line 104, ../sass/components/_responsive.scss */
  header.navbar aside .btn {
    float: right;
    margin-left: 12px;
    margin-top: 12px; }

  /* line 112, ../sass/components/_responsive.scss */
  #main .faq {
    min-height: 284px; } }
@media (min-width: 1200px) {
  /* line 118, ../sass/components/_responsive.scss */
  nav.navbar-collapse ul#superfish-1 li a {
    font-size: 16px; }

  /* line 121, ../sass/components/_responsive.scss */
  nav.navbar-collapse aside .home {
    margin-right: 20px; }

  /* line 124, ../sass/components/_responsive.scss */
  nav.navbar-collapse .language-link {
    font-size: 18px; }

  /* line 127, ../sass/components/_responsive.scss */
  nav.navbar-collapse form {
    padding-left: 20px;
    margin-left: 20px; }

  /* line 131, ../sass/components/_responsive.scss */
  nav.navbar-collapse #custom-search-blocks-form-1 input {
    font-size: 18px;
    padding: 0;
    position: relative;
    width: 60px; }

  /* line 137, ../sass/components/_responsive.scss */
  nav.navbar-collapse form #edit-submit {
    position: relative;
    top: 2px; }

  /* line 141, ../sass/components/_responsive.scss */
  #main .box h2 {
    font-size: 28px;
    margin-bottom: 18px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi) {
  /* line 153, ../sass/components/_responsive.scss */
  header.navbar .logo-header .container {
    background-image: url(../images/bg-header@2x.jpg);
    background-size: 1429px; }

  /* line 157, ../sass/components/_responsive.scss */
  header.navbar .logo-header #site-name-slogan a {
    background-image: url(../images/logo@2x.png);
    background-size: 126px 65px; }

  /* line 161, ../sass/components/_responsive.scss */
  nav.navbar-collapse aside .home {
    background-image: url(../images/ico-home@2x.png);
    background-size: 17px 17px; } }
